/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */


html, body {
   
	font-family: 'Titillium Web', sans-serif;
	box-sizing: content-box;
	flex-flow: column;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	width:100%;
	margin: 0 auto;
	width: 850px;
	box-sizing: border-box;
}

.navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px; 
	margin: 30px;
}

nav{
	width: 50%;
	text-decoration: none;
	color: grey;
}

.img logo {
	display: inline-block;
	position: relative;
	top: 20px;
	margin-left: 50px;
	padding: 10px;
 }

a {
	text-decoration: none;
	  color: gray;
	  margin-right: 10px;  
	  display: inline-flex;
	  justify-content: space-between;
  }
	
header {
	display: flex;
	justify-content: space-between;
}
.inovation {
	display: flex;
	justify-content: space-between;
	font-size: 40px;
	padding: 20px;
  }
button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 25px auto;
	padding: 10px;
}

.introduction {
	border-top: 50px;
	margin-bottom: 80px;
	justify-content: space-between;

}
.middle-content{
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
		
}
.middle-image {
	display: block;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}
.content1 {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Turret Road';
  font-size: 45px;
  margin: 50px;
  padding: 200px;
  
}
h2 {
	display: flex;
	justify-content: space-around;
}
.content2 {
	box-sizing: border-box;
	display:inline-block;
	width: 250px;
	height: 100px;
	padding: 30 30 0 0;
	
}
footer{
  line-height: 20px;
  margin-bottom: 10px;
  shape-rendering: geometricPrecision;
  text-shadow: 10px;
}
.copyright {
	text-align: center;
	margin-bottom: 50px;

}


