/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	
	
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	margin: auto;	
	width: 900px;
}

.navigation{
	display: flex;
	flex-wrap: wrap;
}

nav a{
	margin: 52px 15px 0 40px;
	color: grey;
	font-size: 18px;
	text-decoration: none;
	display: flex;
	align-items: center;
}

img{
	max-width: 100%;
}

p{
	line-height: 16px;
}

a {
	 line-height: 35px;
	 margin-top: 20px;
	 list-style-position: inside;
  }

.logo{
	 margin: 20px 0 0 100px;
	 padding-top: 20px;
  }

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 50px 0 50px 0;	
}

.services{
	margin: 30px 0 0 30px;
}

 h1{
	font-size: 24px;
}

button{
	margin-top: 20px;
	font-size: 12px;
	padding: 7px 20px 7px 20px;
	border: 1px solid black;
	border-radius: 5px;
}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 30px;
	padding-bottom: 40px;
}

.box1{
	margin: 40px 0 0 0;
	padding: 20px;
	background: lightgrey;
	border: 1px solid black;
	width: 400px;
}

.p {
	line-height: 16px;
}

.button{
	display: flex;
	justify-content: space-between;
	margin: 40px 0 40px 0;
}

.box2{
	margin: 40px 0 0 0;
	padding: 20px;
	background: lightgrey;
	border: 1px solid black;
	width: 400px;
}

.box3{
	margin: 40px 0 0 0;
	padding: 20px;
	background: lightgrey;
	border: 1px solid black;
	width: 400px;
}

.box4{
	margin: 40px 0 0 0;
	padding: 20px;
	background: lightgrey;
	border: 1px solid black;
	width: 400px;
}

.box5{
	margin: 40px 0 0 0;
	padding: 20px;
	background: lightgrey;
	border: 1px solid black;
	width: 400px;
}

.infoservices{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px;
	width: 400px;
	
}

.services-info-img{
	width: 400px;
	display: flex;
	justify-content: space-between;
	
}
.copyright {
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
  }

  address {
	margin-bottom: 20px;

  }

  footer {
	margin: 20px 30px 80px 30px;
  }

  ul{
	  list-style-type: square;
	  list-style-position: inside;
	  line-height: 30px;
	  margin-top: 20px;
  }




